* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    /*si pongo 100vw sale la scroll bar horizontal*/
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-image: url(../img/bg-img.jpg);
    background-size: cover;
}


/* HEADER */

.header-section {
    background-color: hsla(0, 0%, 20%, .5);
}

.center {
    margin: 0 auto;
    padding: 0 1em;
}

.menu-section img {
    display: block;
    border: 0;
    width: auto;
    height: 100px;
}

.title-one {
    margin: 0;
    padding: 1em 0 .5em;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: hsl(0, 0%, 100%);
}


/* NAVIGATION MENU */

.menu-section {
    /* padding-bottom: 2em; */
    /* margin-bottom: 2em; */
    border-bottom: 1px solid hsl(0, 0%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu ul,
.social-media-copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a,
.social-media-copyright li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.6em 1em;
}

.menu li a:hover {
    color: hsl(0, 0%, 50%);
}

.menu-simple ul,
.social-media-copyright ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-simple li,
.social-media-copyright li {
    flex: 1 0 auto;
    /*quita los espacios entre cada elemento de la lista*/
    text-align: center;
}


/* MAIN SECTION */

.main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* .main-section img {
    display: block;
    border: 0;
    width: auto;
    height: 100%;
} */

.main-section h1 {
    padding-left: 1em;
    font-size: 4em;
    color: cyan;
}


/* FOOTER */

.footer-section {
    background-color: hsla(0, 0%, 20%, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-paragraph {
    width: 30%;
}

.footer-section p {
    margin: 0;
    padding: 1em 0 .5em;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 52em) {
    /*1em=16px*/
    .center {
        max-width: 52em;
    }
    .title-one {
        font-size: 1.5em;
    }
}