/* ----------------LOCAL FONTS---------------- */

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Overpass-bold";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Overpass-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Comfortaa;
}

body {
    width: 100%;
    /*si pongo 100vw sale la scroll bar horizontal*/
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(0, 0%, 20%, .5);
    background-image: url(../img/bg-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Para dejar la imagen de fondo centrada, vertical y /*horizontalmente: background-position: center center.*/
    /*Para que la imagen de fondo no se repita background-repeat: no-repeat;*/
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido background-attachment: fixed;*/
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador background-size: cover;*/
    /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla background-color*/
}


/* HEADER */

.header-section {
    background-color: hsla(0, 0%, 20%, .5);
}

.center {
    margin: 0 auto;
    padding: 0 .5em;
}

.menu-section {
    border-bottom: 1px solid hsl(0, 0%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: hsla(0, 0%, 20%, .5);
}

.menu-section img {
    display: block;
    border: 0;
    width: auto;
    max-height: 100px;
}

.site-branding {
    max-width: 40%;
}


/* NAVIGATION MENU - FOOTER*/

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul,
.social-media-copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu i,
.menu li,
.social-media-copyright li {
    flex: 1 0 auto;
    /*quita los espacios entre cada elemento de la lista*/
    text-align: center;
}

.menu i,
.menu li a,
.social-media-copyright li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.6em 1em;
}

.menu i:hover,
.menu li a:hover {
    color: cyan;
}

#checkbox,
.menu i {
    visibility: hidden;
}


/* MAIN SECTION */

.main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-section img {
    display: block;
    border: 0;
    width: auto;
    height: 2em;
}

.main-section h1 {
    padding-left: 1em;
    font-size: 5em;
    color: cyan;
    font-family: Overpass-bold;
    font-weight: 700;
}


/* FOOTER */

.footer-section {
    background-color: hsla(0, 0%, 20%, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-paragraph {
    width: 40%;
}

.footer-section p {
    margin: 0;
    padding: 1em 0 .5em;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.social-media-copyright i:hover {
    color: cyan;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu-section {
        justify-content: space-between;
        padding: 0 .5em;
    }
    .menu i,
    .menu li a,
    .social-media-copyright li a {
        font-size: 90%;
        padding: 0.6em .6em;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    /*1em=16px*/
    /* HEADER*/
    .flex-container {
        background-image: url(../img/bg-img-mobile.png);
    }
    .center {
        max-width: 767px;
    }
    .menu-section {
        max-height: 10%;
        justify-content: space-between;
    }
    .site-branding img {
        max-width: 80px;
        height: auto;
        margin-left: 1em;
    }
    /* NAVIGATION MENU*/
    #checkbox,
    .menu i {
        visibility: visible;
    }
    #checkbox,
    .menu i {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0.3em;
        top: 0.3em;
        width: 32px;
        height: 32px;
    }
    .menu i {
        font-size: 32px;
        pointer-events: none;
    }
    #checkbox {
        opacity: 0;
    }
    nav {
        display: none;
    }
    input:checked~nav {
        display: block;
    }
    input:checked~.fa-bars {
        display: none;
    }
    input:not(:checked)~.fa-times {
        display: none;
    }
    input:checked~nav ul {
        display: flex;
        flex-direction: column;
        padding-top: 20em;
        background-color: hsla(0, 0%, 20%, .5);
    }
    /* MAIN SECTION */
    .main-section h1 {
        padding-left: .5em;
        font-size: 3.5em;
        padding-top: 2.5em;
    }
    /* FOOTER */
    .footer-section {
        max-height: 10%;
    }
    .footer-paragraph {
        width: 50%;
    }
    .footer-section p {
        font-size: 80%;
    }
}

@media screen and (max-width: 640px) {
    /*1em=16px*/
    /* HEADER*/
    .flex-container {
        background-image: url(../img/bg-img-mobile.png);
    }
    .center {
        max-width: 767px;
    }
    .menu-section {
        max-height: 10%;
        justify-content: space-between;
    }
    .site-branding img {
        max-width: 80px;
        height: auto;
        margin-left: 1em;
    }
    /* NAVIGATION MENU*/
    #checkbox,
    .menu i {
        visibility: visible;
    }
    #checkbox,
    .menu i {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0.3em;
        top: 0.3em;
        width: 32px;
        height: 32px;
    }
    .menu i {
        font-size: 32px;
        pointer-events: none;
    }
    #checkbox {
        opacity: 0;
    }
    nav {
        display: none;
    }
    input:checked~nav {
        display: block;
    }
    input:checked~.fa-bars {
        display: none;
    }
    input:not(:checked)~.fa-times {
        display: none;
    }
    input:checked~nav ul {
        display: flex;
        flex-direction: column;
        padding-top: 20em;
        background-color: hsla(0, 0%, 20%, .5);
    }
    /* MAIN SECTION */
    .main-section h1 {
        padding-left: .3em;
        font-size: 3em;
        padding-top: 3.5em;
    }
    /* FOOTER */
    .footer-section {
        max-height: 10%;
    }
    .footer-paragraph {
        width: 50%;
    }
    .footer-section p {
        font-size: 80%;
    }
    .social-media-copyright p {
        font-size: 75%;
    }
}